<h2 class="text-center pt-4">Youtube Movies</h2>
<div class= "container">
  <div class="row">
    <% @movies.each do |val| %>
      <div class="col-md-4">
        <div class="card">
          <iframe class="card-img-top" height="315" src="https://www.youtube.com/embed/<%=val.movie_url%>"></iframe>
          <div class="card-body">
            <h4 class="card-title"><%= val.title%></h4>
            <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
            <%= link_to "See more", movie_path(val) %>
          </div>
        </div>
      </div>
    <% end %>  
  </div>
</div>
