<div class="container">
  <iframe width="500" class="card-img-top" height="500" src="https://www.youtube.com/embed/<%=@movie.movie_url%>"></iframe>
  <table class="table table-striped">
    <thead>
      <tr>
        <th class="text-center">Description</th>
        <th class="text-center">Rating</th>
        <th class="text-center">Review By</th>
      </tr>
    </thead>
    <tbody>
      <% @movie.reviews.each do |post| %>
        <tr>
          <td class="text-center"><%=post.description%></td>
          <td class="text-center"><%=post.rating%></td>
          <td class="text-center"><%=post.user.email%></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>